.bg-primary {
  background: linear-gradient(180deg,  #4a90e2,#3b82f6,#2563eb,#1e3a8a);
  background-size: cover;
  color: white;
}

.hover-grow {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-grow:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
